{{!< default}}

<div class="content-area">
  <main class="site-main">
    <div class="app-page-container">
      <section class="heading main-section">
        <div class="phone-image">
          <img
            class="phone"
            src="https://originals-images.optout.news/optoutphone.png"
            alt="OptOut app on iPhone"
          />
        </div>
        <div class="call-to-action-container">
          <h1 class="title">Sick of corporate media narratives?</h1>
          <h4 class="subtitle">
            We’re building a nonprofit news app where you can completely bypass
            the corporate media and read, listen to, and watch exclusively
            independent content.
          </h4>
          <div class="call-to-action">
            <h4 class="subtitle">
              Opt out with us. Sign up for our free newsletter to learn more.
            </h4>
            <div class="sign-up-button">
              <a href="#/portal/signup/free"
                >Sign Up</a
              >
            </div>
            <h4 class="subtitle">
              Find out more about
              <a class="about-link" href="https://optout.news/about/"
                >the app and the OptOut Media Foundation</a
              >, the nonprofit charity that is developing it.
            </h4>
          </div>
        </div>
        <div class="beta-sign-up">
          <h4 class="subtitle">
            The OptOut app is in beta testing for Apple devices!
          </h4>
          <h4 class="subtitle">
            Sign up
            <a
              class="beta-link"
              href="https://testflight.apple.com/join/psivYz12"
              target="_blank"
              rel="noreferrer"
              >here</a
            >
            to try it out.
          </h4>
        </div>
      </section>
      <!---end heading--->
      <section class="featured-content main-section">
        <h2>Featured Content</h2>
        <div class="spinner"></div>
        <div class="slider">
          <div class="jump-link-container"></div>
        </div>
      </section>
      <!---end slider--->

      <section class="optout-experience main-section">
        <h2>The OptOut Experience</h2>
        <div class="image-wrapper-container">
          <div class="experience-image-wrapper">
            <img
              class="experience-image"
              src="https://originals-images.optout.news/optout-avi-red.png"
              alt="OptOut logo"
            />
            <h4 class="subtitle">Explore News of the Day</h4>
            <p class="experience-description">
              Enjoy news feeds, hand-curated by OptOut editors, of the most
              important articles, podcasts, and videos.
            </p>
          </div>
          <div class="experience-image-wrapper">
            <img
              class="experience-image"
              src="https://originals-images.optout.news/your-feed-icon.png"
              alt="person reading"
            />
            <h4 class="subtitle">Personalized Experience</h4>
            <p class="experience-description">
              Follow outlets, podcasts, individual reporters, categories, and
              more to create a highly personalized user experience.
            </p>
          </div>
          <div class="experience-image-wrapper">
            <img
              class="experience-image"
              src="https://originals-images.optout.news/glasses.png"
              alt="reading glasses"
            />
            <h4 class="subtitle">Access Original Content</h4>
            <p class="experience-description">
              Listen to podcasts and read reporting by OptOut News, a brand new
              media publisher founded by industry veterans.
            </p>
          </div>
        </div>
      </section>
      <!---end Optout Experience--->

      <section class="participating-outlets main-section">
        <h2>Participating Outlets</h2>
        <h4 class="subtitle">Hard-hitting investigative journalism.</h4>
        <section class="content-type">
          <figure class="outlet-wrapper">
            <a href="https://readsludge.com/" target="_blank" rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/sludge%20logo%20square.jpg"
                alt="Sludge logo"
            /></a>
            <figcaption class="image-caption">Sludge</figcaption>
          </figure>
          <figure class="outlet-wrapper">
            <a
              href="https://www.dailyposter.com/"
              target="_blank"
              rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/dailyposter-square.png"
                alt="The Daily Poster logo"
            /></a>
            <figcaption class="image-caption">The Daily Poster</figcaption>
          </figure>
          <figure class="outlet-wrapper">
            <a
              href="https://news.littlesis.org/"
              target="_blank"
              rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/eyesontheties.png"
                alt="Eyes on the Ties logo"
            /></a>
            <figcaption class="image-caption">Eyes on the Ties</figcaption>
          </figure>
          <figure class="outlet-wrapper">
            <a
              href="https://www.exposedbycmd.org/"
              target="_blank"
              rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/CMD-logo-square-white.png"
                alt="Center for Media & Democracy logo"
            /></a>
            <figcaption class="image-caption">
              Center for Media & Democracy
            </figcaption>
          </figure>
        </section>
        <h4 class="subtitle">Sharp analysis.</h4>
        <section class="content-type">
          <figure class="outlet-wrapper">
            <a href="https://prospect.org/" target="_blank" rel="noreferrer"
              ><img
                src="https://originals-images.optout.news/prospect.png"
                alt="American Prospect logo"
            /></a>
            <figcaption class="image-caption">The American Prospect</figcaption>
          </figure>
          <figure class="outlet-wrapper">
            <a href="https://jacobinmag.com/" target="_blank" rel="noreferrer"
              ><img
                src="https://originals-images.optout.news/jacobin%20logo%20square.png"
                alt="Jacobin logo"
            /></a>
            <figcaption class="image-caption">Jacobin</figcaption>
          </figure>
          <figure class="outlet-wrapper">
            <a href="https://inthesetimes.com/" target="_blank" rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/inthesetimes-logo.jpg"
                alt="In These Times logo"
            /></a>
            <figcaption class="image-caption">In These Times</figcaption>
          </figure>
          <figure class="outlet-wrapper">
            <a
              href="https://africasacountry.com/"
              target="_blank"
              rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/Africa%20Is%20a%20Country.jpg"
                alt="Africa Is a Country logo"
            /></a>
            <figcaption class="image-caption">Africa Is a Country</figcaption>
          </figure>
        </section>
        <h4 class="subtitle">Video.</h4>
        <section class="content-type">
          <figure class="outlet-wrapper">
            <a
              href="https://www.patreon.com/thenomikishow"
              target="_blank"
              rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/nomiki%20show%20square.jpg"
                alt="The Nomiki Show logo"
            /></a>
            <figcaption class="image-caption">The Nomiki Show</figcaption>
          </figure>
          <figure class="outlet-wrapper">
            <a
              href="https://www.timblacktv.com/"
              target="_blank"
              rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/Tim%20Black%20TV.jpg"
                alt="Tim Black TV logo"
            /></a>
            <figcaption class="image-caption">Tim Black TV</figcaption>
          </figure>
          <figure class="outlet-wrapper">
            <a
              href="https://www.browngirlgreen.org/"
              target="_blank"
              rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/BROWN-GIRL-GREEN-scaled%20copy.jpg"
                alt="Brown Girl Green logo"
            /></a>
            <figcaption class="image-caption">Brown Girl Green</figcaption>
          </figure>
          <figure class="outlet-wrapper">
            <a href="https://statuscoup.com/" target="_blank" rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/status%20coup%20white.jpg"
                alt="Status Coup logo"
            /></a>
            <figcaption class="image-caption">Status Coup</figcaption>
          </figure>
        </section>
        <h4 class="subtitle">Podcasts.</h4>
        <section class="content-type">
          <figure class="outlet-wrapper">
            <a
              href="https://www.patreon.com/replyguys"
              target="_blank"
              rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/ReplyGuys%20large.png"
                alt="Reply Guys logo"
            /></a>
            <figcaption class="image-caption">Reply Guys</figcaption>
          </figure>
          <figure class="outlet-wrapper">
            <a
              href="https://www.patreon.com/strugglesession"
              target="_blank"
              rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/struggle%20session%20logo.png"
                alt="Struggle Session logo"
            /></a>
            <figcaption class="image-caption">Struggle Session</figcaption>
          </figure>
          <figure class="outlet-wrapper">
            <a href="http://therednation.org/" target="_blank" rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/TNR%20podcast%20square.jpg"
                alt="The Red Nation logo"
            /></a>
            <figcaption class="image-caption">The Red Nation</figcaption>
          </figure>
          <figure class="outlet-wrapper">
            <a
              href="https://www.patreon.com/champagnesharks"
              target="_blank"
              rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/champagne%20sharks.jpg"
                alt="Champagne Sharks logo"
            /></a>
            <figcaption class="image-caption">Champagne Sharks</figcaption>
          </figure>
        </section>
        <h4 class="subtitle">Your favorite newsletters.</h4>
        <section class="content-type">
          <figure class="outlet-wrapper">
            <a href="https://fx.substack.com/" target="_blank" rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/foreign-exchanges.png"
                alt="Foreign Exchanges logo"
            /></a>
            <figcaption class="image-caption">Foreign Exchanges</figcaption>
          </figure>
          <figure class="outlet-wrapper">
            <a
              href="https://badnews.substack.com/"
              target="_blank"
              rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/bad-news-ryan-grim_400x400.jpg"
                alt="Bad News logo"
            /></a>
            <figcaption class="image-caption">Bad News</figcaption>
          </figure>
          <figure class="outlet-wrapper">
            <a
              href="https://zeeshanaleem.substack.com/"
              target="_blank"
              rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/whats%20left%20square.jpg"
                alt="What’s Left logo"
            /></a>
            <figcaption class="image-caption">What’s Left</figcaption>
          </figure>
          <figure class="outlet-wrapper">
            <a
              href="https://mattstoller.substack.com/"
              target="_blank"
              rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/BIG.png"
                alt="BIG by Matt Stoller logo"
            /></a>
            <figcaption class="image-caption">BIG by Matt Stoller</figcaption>
          </figure>
        </section>
        <h4 class="subtitle">State and Local Coverage.</h4>
        <section class="content-type">
          <figure class="outlet-wrapper">
            <a href="https://www.thecity.nyc/" target="_blank" rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/thecity_400x400.jpg"
                alt="THE CITY logo"
            /></a>
            <figcaption class="image-caption">THE CITY</figcaption>
          </figure>
          <figure class="outlet-wrapper">
            <a href="https://knock-la.com/" target="_blank" rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/KnockLA_logo_WHITEONMAR_VERTICAL%20%281%29.png"
                alt="KNOCK LA logo"
            /></a>
            <figcaption class="image-caption">KNOCK LA</figcaption>
          </figure>
          <figure class="outlet-wrapper">
            <a href="https://www.nysfocus.com/" target="_blank" rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/nyfocus-logo.png"
                alt="New York Focus logo"
            /></a>
            <figcaption class="image-caption">New York Focus</figcaption>
          </figure>
          <figure class="outlet-wrapper">
            <a href="https://ctmirror.org/" target="_blank" rel="noreferrer"
              ><img
                class="outlet-image"
                src="https://originals-images.optout.news/ctmirror-logo.png"
                alt="The CT Mirror logo"
            /></a>
            <figcaption class="image-caption">The CT Mirror</figcaption>
          </figure>
        </section>
      </section>
      <!---end Participating Outlets--->
      <section class="full-list-participants main-section">
        <div class="embed-container">
          <h2>Full List of Participants</h2>
          <iframe
            title=""
            aria-label="table"
            id="datawrapper-chart-TTbxX"
            src="https://datawrapper.dwcdn.net/TTbxX/11/"
            scrolling="no"
            frameborder="0"
            style="width: 0; min-width: 100% !important; border: none;"
            height="653"
          ></iframe>
        </div>
        <script type="text/javascript">
          !(function () {
            "use strict";
            window.addEventListener("message", function (e) {
              if (void 0 !== e.data["datawrapper-height"]) {
                var t = document.querySelectorAll("iframe");
                for (var a in e.data["datawrapper-height"])
                  for (var r = 0; r < t.length; r++) {
                    if (t[r].contentWindow === e.source)
                      t[r].style.height =
                        e.data["datawrapper-height"][a] + "px";
                  }
              }
            });
          })();
        </script>
      </section>
      <!--end Full List of Participants-->
      <section class="want-to-participate main-section">
        <h2>Want to participate in OptOut?</h2>
        <p>
          If your outlet would like to be considered for the OptOut network,
          email links to your content, website, and social media accounts to:
          <a href="mailto:applications@optout.news">applications@optout.news</a>
        </p>
      </section>
      <!---end Want to Participate--->
      <section class="board main-section">
        <img
        src="https://optout-originals-images.nyc3.cdn.digitaloceanspaces.com/OMF-board-10-12-21.png"
        alt="OptOut Media Foundation Board of Directors"
      </section>
      <!---end Board of Directors--->
    </div>
    <!---end page container--->
  </main>
</div>

{{#contentFor "body_class"}}{{#if @site.logo}}{{#if @site.cover_image}}
with-alt-header{{/if}}{{/if}}{{/contentFor}}
